{% extends 'base.html' %}
{% block title %}Upload{% endblock %}
{% block h1 %}Upload{% endblock %}
{% block content %}
<form action="" method=post enctype=multipart/form-data>
  <div class="mb-3">
    <span>Option de filtrage: </span>
    <select name="option" class="form-select form-select-sm">
      {% for option in project.options %}
        <option value={{option}}>{{option}}</option>
      {% endfor %}
    </select>
  </div>
  

  <div class="mb-3">
    <input class="form-control" id="formFile" type="file" name="file">
    <label for="formFile" class="form-label">File to upload</label>
  </div>

  <input type="hidden" name="project" value={{id}}>
  <input class="btn btn-secondary" type="submit" value="Upload">
</form>
{% endblock %}